# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
cities_df = pd.read_csv("weatherdata.csv")
cities_df

,Unnamed: 0,City,Latitude,Longitude,MaxTemp,Cloudiness,Humidity,WindSpeed,Date
0,0,Port Elizabeth,-33.9180,25.5701,295.15,75,64,4.12,ZA
1,1,Adrar,20.5022,-10.0711,293.87,0,13,4.00,MR
2,2,Fairlie,55.7560,-4.8556,278.15,50,87,3.13,GB
3,3,Yellowknife,62.4560,-114.3525,255.37,90,60,3.09,CA
4,4,Arraial do Cabo,-22.9661,-42.0278,300.15,0,89,3.09,BR
...,...,...,...,...,...,...,...,...,...
554,554,Beitbridge,-22.2167,30.0000,296.00,9,71,4.35,ZW
555,555,Kaoma,-14.7833,24.8000,290.46,34,96,1.30,ZM
556,556,Solnechnyy,50.7214,136.6319,268.86,77,91,3.06,RU
557,557,Salina Cruz,16.1667,-95.2000,306.96,0,47,4.39,MX
558,558,Boyuibe,-20.4167,-63.2833,305.15,20,40,1.53,BO

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Find Cities that have a max temperature between 70 and 80 degrees, wind speed less than 10 mph and zero cloudiness
#Note that the temperatures in the dataframe are in Kelvin so the conditional statement uses the Kelvin equivalents of 70 and 80 degrees Fahrenheit
vacation_df = cities_df.loc[(cities_df['MaxTemp'] > 294) & (cities_df["MaxTemp"] < 300) & (cities_df["WindSpeed"] < 10) & (cities_df["Cloudiness"] == 0)]
vacation_df.reset_index(inplace=True)
vacation_df

,index,Unnamed: 0,City,Latitude,Longitude,MaxTemp,Cloudiness,Humidity,WindSpeed,Date
0,25,25,Saint-Philippe,-21.3585,55.7679,297.15,0,78,3.09,RE
1,27,27,Sekoma,-24.4000,23.8833,295.32,0,46,3.63,BW
2,60,60,Richards Bay,-28.7830,32.0377,296.98,0,82,6.02,ZA
3,119,119,Saint-Joseph,-21.3667,55.6167,297.15,0,78,3.09,RE
4,143,143,Yārāda,17.6500,83.2667,297.39,0,62,1.95,IN
5,148,148,Coyhaique,-45.5752,-72.0662,296.15,0,33,2.57,CL
6,153,153,Dubai,25.2582,55.3047,295.15,0,73,2.06,AE
7,157,157,Salalah,17.0151,54.0924,297.15,0,73,2.06,OM
8,167,167,Dzaoudzi,-12.7887,45.2699,299.15,0,89,2.57,YT
9,176,176,Pisco,-13.7000,-76.2167,298.15,0,73,3.09,PE
10,213,213,São Filipe,14.8961,-24.4956,294.87,0,75,2.17,CV
11,227,227,Mbour,14.4220,-16.9638,299.15,0,25,6.17,SN
12,267,267,Porbandar,21.6422,69.6093,296.97,0,65,5.97,IN
13,287,287,Ngunguru,-35.6167,174.5000,294.82,0,69,2.24,NZ
14,289,289,Port Shepstone,-30.7414,30.4550,297.32,0,88,8.82,ZA
15,299,299,Bagotville,-28.9833,153.4167,296.15,0,88,1.99,AU
16,335,335,Caravelas,-17.7125,-39.2481,297.64,0,80,2.67,BR
17,342,342,Jiwani,25.0500,61.7417,296.18,0,89,4.43,PK
18,346,346,Gondal,21.9667,70.8000,297.15,0,53,3.09,IN
19,361,361,Bhawānipatna,19.9000,83.1667,294.98,0,45,1.75,IN
20,375,375,Marechal Cândido Rondon,-24.5561,-54.0567,298.32,0,55,0.98,BR
21,419,419,Ballina,-28.8667,153.5667,296.15,0,88,3.16,AU
22,458,458,Bilma,18.6853,12.9164,299.53,0,11,2.37,NE
23,479,479,Sur,22.5667,59.5289,298.56,0,43,7.29,OM

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotels = []

for i in range(len(vacation_df)):
    latitude = vacation_df.loc[i]["Latitude"]
    longitude = vacation_df.loc[i]["Longitude"]
    params = {
            "location": f"{latitude},{longitude}",
            "radius": 5000,
            ""
    }

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure